{{#if @labs.members}}
{{^if @member}}
<div class="subscription-section text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="subscription-inner big">
                    <h2 class="subscription-title">{{t "Subscribe"}}</h2>
                    <p class="subscription-description">
                        {{t "Stay up to date! Get all the latest posts delivered straight to your inbox."}}
                    </p>
                    {{!-- Not logged in: Sign up--}}
                    <form class="signup-form" data-members-form="signup">
                        <div class="text-center">
                        </div>
                        <div class="form-field-wrap flex">
                            <label for="email" class="sr-only">{{t "Email"}}</label>
                            <input data-members-email type="email" class="email" id="email" placeholder="Your email address" required/>
                            <button class="btn btn-primary btn-submit" type="submit">{{t "Subscribe"}}</button>
                        </div>
                        <div class="text-center">
                            <div class="message-success"><strong>{{t "Great!"}}</strong> {{t "Check your inbox and click the link to confirm your subscription"}}</div>
                            <div class="message-error"><strong>{{t "Error!"}}</strong> {{t "Please enter a valid email address!"}}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/if}}