{{!< ../default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The content area on the blog page --}}
<main id="main" class="site-main">
	<div class="site-account inner">

		{{#if @member.paid}}

			{{!-- Logged in, paying member: Show account info --}}
			<header class="page-header">
				<h1 class="page-title underline">{{t "Account Details"}}</h1>
			</header><!-- .page-header -->

			<div class="page-content">
				<p class="intro">{{t "You are a subscriber."}}</p>
				<p>{{{t "<strong>{email}</strong> has an active {sitetitle} account with access to all areas. You're all set, but if you need any help, get in touch with us and we'd be happy to help." email=@member.email sitetitle=@site.title}}}</p>
			</div><!-- .page-content -->

		{{else if @member}}

			{{!-- Logged in, not paying: Link to checkout --}}
			<header class="page-header">
				<h1 class="page-title underline">{{t "Account Details"}}</h1>
			</header><!-- .page-header -->

			<div class="page-content">
				<p class="intro">{{t "Currently, you're not a paying subscriber."}}</p>
				<p>{{{t "<strong>{email}</strong> is subscribed to free updates from {sitetitle}, but doesn't have a paid subscription to unlock full access. Upgrade your account and get access to all areas." email=@member.email sitetitle=@site.title}}}</p>
				<div class="membership-box">
					<h2 class="membership-box-title">{{t "Choose your subscription"}}</h2>
					<div class="membership-plans">
						{{> "membership-monthly"}}
						{{> "membership-yearly"}}
					</div><!-- membership-box-inside -->
				</div><!-- membership-box -->
			</div><!-- .page-content -->

		{{else}}

				{{!-- Not logged in: Redirect to signin --}}
				<script>window.location = '{{@site.url}}/signin/';</script>

		{{/if}}

	 	</div><!-- .site-account -->
</main><!-- .site-main -->
